.button-mode.button {
    width: 40px;
    height: 80px;
    border-radius: 70%;
    border: none;
    font-size: 20px;
    

  }
  
  body.dark-mode {
    background-color: #111;
    color: #fff;
  }
  
  .dark-mode button {
    filter: brightness(72%);
  }